http://{$DOMAIN} {
	encode gzip zstd

	handle_path /storage/* {
		root * /srv/storage
		file_server
	}

	handle /api* {
		reverse_proxy backend:8000
	}

	handle /sanctum* {
		reverse_proxy backend:8000
	}

	handle {
		root * /srv/www
		try_files {path} /index.html
		file_server
	}
}
